/********************************
*  DirTiles Component           *
********************************/
.dir-tiles{
    $self: &;

    &__name{
        @extend .fw-bold;
        text-transform: capitalize;

        &:hover{
            cursor: pointer;
        }
    }

    &__tiles{
        @extend .row;
        @extend .mx-1;
    }

    &__tile{
        @extend .col-2;
        padding: 0.25rem    ;

        &:hover{
            cursor: pointer;
            transform: scale(1.30);
        }
    }

    &__img{
        width: 100%;
    }
}
