/* Prefissi:         */
/*  HF-: Hex Form    */
/*  QF-: Quad Form   */
/* Suffissi:         */
/*  -HW: Hex Width   */
/*  -HH: Hex Height  */
/*  -QW: Quad Width  */
/*  -QH: Quad Height */
/* Dimensioni (Hex) nel (Hex Form) */
.HF-hex_dim {
  width: 300px;
  height: 259.8px;
}
/* Dimensioni (Hex) nel (Quad Form) */
.QF-hex_dim {
  width: 90px;
  height: 77.94px;
}
/* Dimensioni (Quad) nel (Quad Form) */
.QF-quad_dim {
  width: 400px;
  height: 433px;
  position: relative;
}
/* Centra il contenuto */
.hv-center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hex {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  position: absolute;
  transform: translate(-50%, -50%);
}
