//Costanti matematiche 
$SQRT3: 1.732;
$K_RATEO: $SQRT3 / 2; // Rapporto tra Height e Width in un esagono 
$PADDING: 0.1; // Padding come percentuale

// Clip-path per esagono orizzontale 
$hex_polygon: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

/* Prefissi:         */
/*  HF-: Hex Form    */
/*  QF-: Quad Form   */

/* Suffissi:         */
/*  -HW: Hex Width   */
/*  -HH: Hex Height  */
/*  -QW: Quad Width  */
/*  -QH: Quad Height */

// Dimensioni iniziali arbitrariamente scelte
$HF-HW_ARBITRARIA: 300px;
$QF-HW_INIZIALE_ARBITRARIA: 100px; // Iniziale perchè non ho ancora applicato il padding
$MF-HW_INIZIALE_ARBITRARIA: 20px;  // Iniziale perchè non ho ancora applicato il padding

// Dimensioni (Hex) - nel Hex Form
$HF-HW: $HF-HW_ARBITRARIA;
$HF-HH: $HF-HW * $K_RATEO;

// Dimensioni (Hex Iniziali) nel (Quad Form)
$QF-HW_INIZIALE: $QF-HW_INIZIALE_ARBITRARIA;
$QF-HH_INIZIALE: $QF-HW_INIZIALE * $K_RATEO;

// Dimensioni (Hex Iniziali) nel (Macro Form)
$MF-HW_INIZIALE: $MF-HW_INIZIALE_ARBITRARIA;
$MF-HH_INIZIALE: $MF-HW_INIZIALE * $K_RATEO;

// Dimensioni (Hex con padding) nel (Quad Form)
$QF-HW: $QF-HW_INIZIALE * (1 - $PADDING);
$QF-HH: $QF-HH_INIZIALE * (1 - $PADDING);

// Dimensioni (Quad) nel (Quad Form)
$QF-QW: $QF-HW_INIZIALE * 4;
$QF-QH: $QF-HH_INIZIALE * 5;

// Dimensioni (Quad) nel (Macro Form)
$MF-QW: $MF-HW_INIZIALE * 4;
$MF-QH: $MF-HH_INIZIALE * 5;

// Dimensioni (Macro) nel (Macro Form)
$MF-MW: $MF-HW_INIZIALE * 16;
$MF-MH: $MF-HH_INIZIALE * 20;

.macro_form{
    .macro_dim{
        height: $MF-MH;
        width: $MF-MW;
        position: relative;
    }
    .quad_dim {
        width: $MF-QW;
        height: $MF-QH;
        position: absolute;
    }
    .hex_dim {
        width: $MF-QW;
        height: $MF-QH;
        position: absolute;
    }
}

.hex_form{
    .hex_dim {
        width: $HF-HW;
        height: $HF-HH;
    }
}

.quad_form{
    .hex_dim {
        width: $QF-HW;
        height: $QF-HH;
    }
    .quad_dim {
        width: $QF-QW;
        height: $QF-QH;
        position: relative;
    }
}

/* Centra il contenuto */
.hv-center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex {
    clip-path: $hex_polygon;
    position: absolute;
    transform: translate(-50%, -50%);
}