/********************************
*  WidgetCurrentTiles           *
********************************/
.w_ct-btn-active{
    @extend .rounded-circle;
    background: #edd6d6;
}
#w_ct{
    overflow-y: none;
    &:hover {
        #w_ct-title-1{
            display: none;
        }
        #w_ct-hide-part{
            display: block;
        }
    }

    #w_ct-hide-part{
        display: none;
        #tiles_kit_0{
            overflow-y: scroll;
            height: 500px;
            .dir_1-box{
                .dir_1-name{
                    @extend .fw-bold;
                    text-transform: capitalize;
                }
                .dir_1-tiles{
    //                 display: none;
                    @extend .row;
                    @extend .mx-1;

                    .dir_1-tile{
                        @extend .col-2;
                        &:hover{
                            cursor: pointer;
                            transform: scale(1.30);
                        }
                        .dir_1-tile-img{
                            width: 100%;
                        }
                    }
                }

                &:hover{
                    .dir_1-tiles{
                        display: flex;
                    }
                }
            }
        }
    }
}
