/********************************
*  CurrentTiles Component       *
********************************/
.current-tiles-btn-active{
    @extend .rounded-circle;
    background: #edd6d6;
}
.current-tiles{
    $self: &;
    @extend .view-macro-controller;
    overflow-y: none;

    &__title-1{
        @extend .view-macro-controller__title;
    }
    &__title-2{
        @extend .view-macro-controller__title;
    }

    &:hover {
        #{$self}__title-1{
            display: none;
        }
        #{$self}__hide-part{
            display: block;
        }
    }

    &__hide-part{
        display: none;
        #{$self}__tiles-kit{
            overflow-y: scroll;
            overflow-x: hidden;
            height: 50vh;
        }
    }
}
